@charset "utf-8";
/* CSS Document */

@import url("webfonts/Raleway_Regular/stylesheet.css");
@import url("webfonts/Slabo27px_Regular/stylesheet.css");
@import url("webfonts/Raleway_Bold/stylesheet.css");
@import url("webfonts/Pacifico/stylesheet.css");
@import url("webfonts/PatrickHand_Regular/stylesheet.css");



#container {
	width: 1024px;
	height: 1500px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float: left;
	margin-left: 100px;
}
header {
	width: 1024px;
	height: 125px;
	background-color: #E1D7D4;
	/* [disabled]color: #FFF6F6; */
	-webkit-box-shadow: 0px 0px 90px;
	box-shadow: 0px 0px 90px;
}

#main {
	width: 1024px;
	height: 800px;
}
#main #contentone {
	width: 220px;
	height: 800px;
	float: left;
	padding-top: 50px;
	padding-left: 20px;
	font-family: "Raleway Regular";
}
#main #contenttwo {
	width: 775px;
	height: 800px;
	float: right;
	color: #874748;
	font-family: "Raleway Regular";
}
#titlebar {
	height: 90px;
	width: 1024px;
	background-color: ;
	font-family: "Raleway Regular";
}
footer {
	width: 1024px;
	height: 300px;
	font-family: "Raleway Bold";
	font-weight: bolder;
	text-align: center;
}h1 {
	text-align: center;
	font-size: 4em;
	color: #874748;
	font-family: "Slabo27px Regular";
}
#innermain {
	width: 1024px;
	height: 800px;
	border-radius: 25px;
	background-color: #E1D7D4;
}
#submit {
	width: 80px;
	height: 30px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-family: "Raleway Regular";
}
body {
	background-image: url("17845-paper-butterflies-out-of-a-book-1280x800-digital-art-wallpaper (1).jpg");
	color: #F9F4F4;
	font-family: "Raleway Bold";
	background-size: cover;
}
#contenttwo #half1 {
	width: 775px;
	height: 400px;
	margin-top: 10px;
}

#contenttwo #part1 {
	width: 387.5px;
	height: 400px;
	float: left;
	text-align: center;
}
#contenttwo #part2 {
	width: 387.5px;
	height: 400px;
	float: right;
	text-align: center;
}
#contenttwo #half2{
	width: 775px;
	height: 400px;
}
#contenttwo #part3 {
	width: 387.5px;
	height: 400px;
	float: left;
	text-align: center;
}
#contenttwo #part4 {
	width: 387.5px;
	height: 400px;
	float: right;
	text-align: center;
}
#foot {
	font-family: "Raleway Bold";
	text-align: center;
	font-variant: normal;
	font-size: xx-large;
}
#top {
	float: right;
	color: #000000;
	font-family: Pacifico;
	margin-right: 80px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-size: x-large;
}
#table1 {
	font-family: "PatrickHand Regular";
	color: #874748;
	font-size: large;
}

#welcome
{
	font-size: 20px;
	text-align: right;

}

#welcome a
{
	color:#F5EEEE;
}


